#dice-1, #dice-2,#dice-3 {
    height: 30vw;
    width: 30vw;
    background-color: bisque;
    border-radius: 30px;
    display: inline-block;
   
    
}
   
 #dice-4,#dice-5, #dice-6 {
    height: 30vw;
    width: 30vw;
    background-color: rgb(255, 196, 237);
    border-radius: 30px;
    display: inline-block;



 }
 [id^="dice"] div{
    width: 40px;
    height: 40px
    background-color- red;
    border-radius: 20px;

 }